.discount {
    font-size: 10px;
  }
  
  .card-seller {
    font-size: 12px;
  }
  
  .card-mrp {
    font-size: 15px;
  }
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 500;
  margin: 0;
  padding: 0;
}