.login-form{
    background-image: url(https://img.freepik.com/free-photo/flat-lay-minimal-medicinal-pills-assortment_23-2148892352.jpg);
    width: fit-content;
    height: fit-content;
    
}
/* .bg-bg {
    background-image: url(https://img.freepik.com/free-photo/clipboard-stethoscope_23-2148519763.jpg);
    background-size: cover; 
    background-repeat: no-repeat;  
    background-position: center center;  
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
} */
.bg-bg {
    position: relative; /* Ensures the pseudo-element is positioned correctly */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://img.freepik.com/free-photo/clipboard-stethoscope_23-2148519763.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: blur(5px); /* Adjust the blur intensity as needed */
    z-index: -1; /* Ensures the image is behind the content */
}
